* {
  box-sizing: border-box;
  text-align: center;
}

body {
	background-image: url(../images/vintage-concrete/vintage-concrete.png);
}

.big-wrapper {
	margin-bottom: 100px;
}

footer {
	color: white;
	z-index: 100;
	padding-top: 25px;
}

h1 {
	text-align: left;
}

h3 {
	text-align: left;
	margin-bottom: 5px;
	margin-top: 15px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 20px;
}

.input-group {
	width: 100%;
}

.form-control {
	text-align: left;
}

.big-message {
	text-align: left;
}

.navbar {
	background-color: #ffffff;
}


.navbar-header {
	padding-top: 15px;
	padding-bottom: 15px;
	color: #ffffff;
	background-color: #4aaaa5;
	padding-left: 12px;
	padding-right: 12px;
	font-weight: bold;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 25px;
}

.nav {
	color:#7777777;
	text-decoration: none;	
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.wrapper {
	width: auto;
	margin: 0 auto 0 auto;
}

.left-box {
	background-color: #ffffff;
	padding-right: 20px;
	padding-left: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-bottom: 10px;
}

.thumbnail {
	float: left;
	margin-right: 15px;
}

.right-box {
	background-color: #ffffff;
	padding-right: 20px;
	padding-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-align: left;
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
	color: #4aaaa5;
	font-weight: bold;
	border-bottom: groove 2px #dddddd;
	margin-bottom: 30px;
}

h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 18px;
	padding-bottom: 17px;
	padding-top: 10px;
	color: #4aaaa5;
	font-weight: bold;
	border-bottom: groove 2px #dddddd;
	margin-bottom: 15px;
}

p {
	text-align: left;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

.social-link {
	margin: 0 auto 0 auto;
}

.project-img {
	margin: 0 auto 0 auto;
	padding-bottom: 10px;
	padding-top: 10px;
}

.project-text {
	height: 30px;
	background-color: #4aaaa5;
	position: relative;
	bottom: 50px;
	max-width: 400px;
	margin: 0 auto 0 auto;
	color: #ffffff;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 20px;
	padding-top: 2px;
}

button {
	margin-right: 100%;
}

.copyright-background {
	position: fixed;
	width: 100%;
	height: 75px;
	margin: 0 auto 0 auto;
	bottom: 0;
	background-color: #666666;
	z-index: 50;
	border-top: 10px solid #4aaaa5;